{% extends "base.html" %}
{% load static %}
{% block title %}Забыли пароль?{% endblock %}
{% block content %}
{% load user_filters %}
<div class="limiter">

    <div class="container-login100">
      <div class="wrap-login100 p-t-190 p-b-30">
        <form class="login100-form validate-form" method="post"
              {% if action_url %}
                action="{% url action_url %}"
              {% endif %}>
          {% csrf_token %}
          <div class="login100-form-avatar form-avatar-s">
            <img src="{% static 'img/login.png' %}">
          </div>
          <span class="login100-form-title p-t-20 p-b-45">
          Забыли пароль?
          </span>
          {% if is_success %}
            <span class="reset-text p-t-20 p-b-45">
              Мы отправили вам электронное письмо. Если вы не получили его, пожалуйста, проверьте папку со спамом. В противном случае свяжитесь с нами, если вы не получите его в течение нескольких минут.
            </span>
            <a href="{% url 'auth_users:login' %}" class="container-login100-form-btn p-t-10">
              <span class="login100-form-btn">
                Назад
              </span>
            </a>
          {% else %}
            {% for field in form %}
              <div class="wrap-input100 validate-input m-b-10"
                   {% if field.field.required %}
                    aria-required="true"
                  {% else %}
                    aria-required="false"
                  {% endif %}>
                {{ field|add_class:'input100'}}
                <span class="focus-input100"></span>
                <span class="symbol-input100">
                  {% if field.label == 'email' %}
                    <i class="fa fa-envelope"></i>
                  {% endif %}
                </span>
              </div>
            {% endfor %}

            {% if form.errors %}
              <div class="alert-login">
              {% for field in form %}
                {% for error in field.errors %}
                  <div class="alert-login1">
                    <i class="fa fa-circle"></i>
                    {{ error|escape }}
                  </div>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert-login1">
                    <i class="fa fa-circle"></i>
                    {{ error|escape }}
                  </div>
              {% endfor %}
              </div>
            {% endif %}

            <div class="container-login100-form-btn p-t-10">
              <button type="submit" class="login100-form-btn">
              Восстановить
              </button>
            </div>
          {% endif %}
        </form>
      </div>
    </div>

</div>

{% endblock %}


