{% extends "base.html" %}
{% load static %}
{% block title %}Проекты{% endblock %}
{% block content %}
    <div class="limiter">
      <div class="container-fix">
        <div class="line_block">
            <h2 class="cl_h2">Наши проекты</h2>
            <div>
                {% for project in projects %}
                    <a href="{% url 'projects:project_detail' pk=project.pk %}">
                        <div class="line_block_pr">
                            <img src="{{ project.avatar_url.url }}" width="200" height="200"> <br>
                            <p class="title_line_block">{{ project.name }}</p>
                            <p class="hideText">Смотреть подробнее>></p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
      </div>
    </div>
{% endblock %}

