{% extends "base.html" %}
{% load static %}
{% block title %}{{ project.name }}{% endblock %}
{% block content %}
<div class="limiter">
      <div class="container-fix">
          <div>
              <div style="display: flex;">
                    <div class="line_block_detail_project_1">
                        <p><img src="{{ project.avatar_url.url }}" width="180" height="180"></p>
                    </div>
                    <div class="line_block_detail_project_2">
                            <h2 class="cl_h2">{{ project.name }}</h2>
                         <ul>
                             <li>
                                 <img src="/static/img/world.png" width="30" height="30"> {{ project.description }}
                             </li>
                         </ul>
                        {% if favorites == 'part' %}
                            <a href="{% url 'projects:profile_favorite_part' pk=project.pk %}">
                                  <button>Следить за всеми мероприятиями</button>
                            </a>
                        {% elif favorites %}
                            <a href="{% url 'projects:profile_unfavorite' pk=project.pk %}">
                                  <button>Убрать из избранного</button>
                            </a>
                        {% else %}
                            <a href="{% url 'projects:profile_favorite' pk=project.pk %}">
                                  <button>Добавить в избранный</button>
                            </a>
                        {% endif %}
                    </div>
              </div>
              <div class="table_class">
                  <table>
                      <tr>
                          <td><img src="/static/img/goal.png" width="25" height="25">Цель проекта: </td>
                          <th>{{ project.goal }}</th>
                      </tr>
                      <tr>
                          <td><img src="/static/img/result.png" width="25" height="25">Результат проекта: </td>
                          <th>{{ project.result }}</th>
                      </tr>
                  </table>
              </div>
              <div class="line_block_detail_project_main_3">
                  {% if len_event > 0 %}
                      <h2 class="cl_h2">Mероприятия проекта</h2>
                         <ul>
                             <div style="display: flex;">
                             {% for event_project in events_project %}
                             <div class="line_block_detail_project_3">
                                 <li>
                                     <img src="{{ event_project.avatar_url.url }}">
                                     <br><a href="{% url 'events:event_detail' pk=event_project.pk %}">
                                     <span>{{ event_project.name }}</span>
                                     </a>
                                 </li>
                             </div>
                             {% endfor %}
                             </div>
                         </ul>
                  {% endif %}
              </div>
          </div>
      </div>
</div>

{% endblock %}