{% extends "base.html" %}
{% load static %}
{% block title %}Проекты{% endblock %}
{% block content %}
<div class="limiter">
  <div class="container-fix">
    <h2 class="cl_h2">Наши проекты</h2>
        <div>
            <div style="width:100%; height:1px; clear:both;"></div>
            <ul>
            {% for project in projects %}
                <a href="{% url 'projects:project_detail' pk=project.pk %}">
                <div class="product-item">
                        <li>
                            <img src="{{ project.avatar_url }}" width="150" height="150"> <br>
                            <span>{{ project.full_name }}</span>
                            <br><span>{{ project.website }}</span>
                        </li>
                 </div>
                </a>
            {% endfor %}
            </ul>
            <div style="width:100%; height:1px; clear:both;"></div>
        </div>
  </div>
</div>
{% endblock %}

