@font-face{font-family:Montserrat-Regular;src:url(../fonts/montserrat/Montserrat-Regular.ttf)}
@font-face{font-family:Montserrat-ExtraBold;src:url(../fonts/montserrat/Montserrat-ExtraBold.ttf)}
@font-face{font-family:Montserrat-Bold;src:url(../fonts/montserrat/Montserrat-Bold.ttf)}
@font-face{font-family:inglobal-Bold;src:url(../fonts/inglobal/inglobal-Bold.ttf)}
@font-face{font-family:rouble;src:url(../fonts/rouble.otf)}
.container-text{display:flex;width:100%}
.txt1{font-family:Montserrat-Regular;font-size:16px;color:#ccc;line-height:1.4;text-decoration:none;}
.txt1:hover{color: #fff;}
.w-full{width:50%}
.p-b-230{padding-bottom:20px;}
.p-t-25{padding-top:25px;}
.limiter{width:100%;margin:0 auto}
.container-login100{min-height:50em;width:100%;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;flex-wrap:wrap;justify-content:center;align-items:center;padding:15px;background-repeat:no-repeat;background-size:cover;background-position:center;position:relative;z-index:1}
.container-login100::before{content:"";display:block;position:absolute;z-index:-1;width:100%;height:100%;top:0;left:0;background:#005bea;background:-webkit-linear-gradient(bottom,#005bea,#00c6fb);background:-o-linear-gradient(bottom,#005bea,#00c6fb);background:-moz-linear-gradient(bottom,#005bea,#00c6fb);background:linear-gradient(bottom,#005bea,#00c6fb);opacity:.9}
.wrap-login100{width:390px;background:0 0}
.login100-form{width:100%;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;justify-content:space-between;flex-wrap:wrap}
.login100-form-title{margin-bottom:30px;margin-top:20px;font-family:Montserrat-ExtraBold;font-size:24px;color:#fff;line-height:1.2;text-align:center;width:100%;display:block}
.login100-form-avatar{width:100px;height:100px;border-radius:50%;overflow:hidden;margin:0 auto;margin-top:10px;}
.login100-form-avatar img{width:100%; background-color: #ffffff;}
.wrap-input100{position:relative;width:100%;z-index:1;margin-bottom:15px;}
.input100{font-family:Montserrat-Bold;font-size:15px;line-height:1.2;color:#333;display:block;width:100%;background:#fff;height:50px;border-radius:25px;padding:0 30px 0 53px;border:1px solid rgb(0,0,0,0.2)}
.focus-input100{display:block;position:absolute;border-radius:25px;bottom:0;left:0;z-index:-1;width:100%;height:100%;box-shadow:0 0;color:rgba(0,91,234,.6)}
.input100:focus+.focus-input100{-webkit-animation:anim-shadow .5s ease-in-out forwards;animation:anim-shadow .5s ease-in-out forwards}@-webkit-keyframes anim-shadow{to{box-shadow:0 0 80px 30px;opacity:0}}@keyframes anim-shadow{to{box-shadow:0 0 80px 30px;opacity:0}}
.symbol-input100{font-size:15px;color:#999;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;align-items:center;position:absolute;border-radius:25px;bottom:0;left:0;width:100%;height:100%;padding-left:30px;pointer-events:none;-webkit-transition:all .4s;-o-transition:all .4s;-moz-transition:all .4s;transition:all .4s}
.input100:focus+.focus-input100+.symbol-input100{color:#00c6fb;padding-left:23px}
.container-login100-form-btn{text-decoration: none;width:100%;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;flex-wrap:wrap;justify-content:center}
.login100-form-btn{margin-top:10px;border:none;font-family:Montserrat-Bold;font-size:15px;line-height:1.5;color:#e0e0e0;width:100%;height:50px;border-radius:25px;background:#333;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;justify-content:center;align-items:center;padding:0 25px;-webkit-transition:all .4s;-o-transition:all .4s;-moz-transition:all .4s;transition:all .4s;position:relative;z-index:1}
.login100-form-btn::before{content:"";display:block;position:absolute;z-index:-1;width:100%;height:100%;border-radius:25px;top:0;left:0;background:#005bea;background:-webkit-linear-gradient(left,#005bea,#00c6fb);background:-o-linear-gradient(left,#005bea,#00c6fb);background:-moz-linear-gradient(left,#005bea,#00c6fb);background:linear-gradient(left,#005bea,#00c6fb);-webkit-transition:all .4s;-o-transition:all .4s;-moz-transition:all .4s;transition:all .4s;opacity:0}
.login100-form-btn:hover{background:0 0;color:#fff}.login100-form-btn:hover:before{opacity:1}.btn-face,.btn-google{font-family:Raleway-Bold;font-size:16px;line-height:1.2;display:-webkit-box;display:-webkit-flex;display:-moz-box;display:-ms-flexbox;display:flex;justify-content:center;align-items:center;width:calc((100% - 10px)/2);height:40px;border-radius:3px;border:1px solid #e6e6e6;background-color:#fff;-webkit-transition:all .4s;-o-transition:all .4s;-moz-transition:all .4s;transition:all .4s}
.btn-face{color:#3b5998}.btn-face i{font-size:20px;margin-right:10px;padding-bottom:1px}
.btn-google{color:#555}.btn-google img{width:19px;margin-right:10px;padding-bottom:1px}
.btn-face:hover,.btn-google:hover{border-color:#d33f8d}.validate-input{position:relative}
.alert-validate::before{content:attr(data-validate);position:absolute;max-width:70%;background-color:#fff;border:1px solid #c80000;border-radius:14px;padding:4px 25px 4px 10px;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);right:8px;pointer-events:none;font-family:Montserrat-Bold;color:#c80000;font-size:13px;line-height:1.4;text-align:left;visibility:hidden;opacity:0;-webkit-transition:opacity .4s;-o-transition:opacity .4s;-moz-transition:opacity .4s;transition:opacity .4s}
.alert-validate::after{content:"\f06a";font-family:FontAwesome;display:block;position:absolute;color:#c80000;font-size:15px;top:50%;-webkit-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%);right:13px}
.alert-validate:hover:before{visibility:visible;opacity:1}@media(max-width:992px){.alert-validate::before{visibility:visible;opacity:1}}@media(max-width:576px){.wrap-login100{padding-top:80px;padding-left:15px;padding-right:15px}}
:active,:hover,:focus {outline:0;outline-offset: 0;}


.title-name1 {
    color: red;
}

.title-name2 {
    color: black;
}

.alert-reg, .alert-login{
    color: #ffffff;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 15px;
    display: inline-block;
    font-family: Montserrat-Regular;
}
.fa-circle{
    font-size: 5px;
    vertical-align: middle;
}

.fa-times-circle{
    color:#FF383A;
}

.fa-check-circle{
    color:#08A800;
}

.user-menu {
    display: inline-block;
    height: 100%;
}

.user-menu:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.user-avatar {
    display: inline-block;
    border-radius: 35px;
}

.user-menu-container {
    cursor:pointer;
    display: inline-block;
    vertical-align: middle;
    border-radius:35px;
    background-color: #ffffff;
    padding-right: 10px;
    min-width: 150px;
    border: 1px solid rgb(0,0,0,0.4);
}

.user-menu-container:hover {
    background-color: #e0e0e0;
}

.inglobal-bold {
    font-family: inglobal-Bold;
}
.link-light:hover{color:#5CB9FF;}
.user-name {
    font-size: 15px;
    font-family: inglobal-Bold;
    font-weight:bold;
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
}


.menu-user-div {
    position: absolute;
    top: 57px;
    width: 150px;
    background: #fff;
    border-radius: 7px;
    border: 1px solid rgba(0,0,0,0.15);
    box-shadow: 0 1px 1px rgba(50,50,50,0.1);
    outline: none;
    z-index: 9999;
    color: #8AA8BD;
}

.menu-user-div::before {
    content: '';
    border: 8px solid transparent;
    /* треугоничек будет смотреть вниз
       имитируем облачко диалога
    */
    border-bottom-color: lightgray;
    position: absolute;
    margin: -17px 0 0 9px;
}

.menu-user-ul {
    margin: 0;
    padding: 0;
}

.menu-user-ul li{
    text-align: left;
    list-style: none;
    padding: 0;
}

.menu-user-a {
    margin: 0;
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    transition: all 0.3s ease-out;
    font-family: Italic, sans-serif;
    font-size: 13px;
    font-family: Montserrat-Regular;
}

.menu-user-a:hover {
    background-color: #f4f4f4;
    font-weight: bold;
}

.menu-user-a-profile {
    border-radius: 7px 7px 0 0;
}

.menu-user-a-exit {
    border-radius: 0 0 7px 7px;
}

.reset-text {
    color: #000000;
    font-family:Montserrat-Regular;
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px 10px;
    margin-bottom: 20px;
}

.tg, .vk, .yt {
    display: inline-block;
    vertical-align: middle;
}

.telegram {
    width: 30px;
    height: 30px;
    background-position: center center;
    background-image: url(/static/img/social_network/telegram/telegram.png);
    border-radius: 30px;
    background-size: cover;
	background-repeat: no-repeat;
}
.telegram:hover {
    background-image: url(/static/img/social_network/telegram/telegram_hover.png);
}

.vkontakte {
    width: 30px;
    height: 30px;
    background-position: center center;
    background-image: url(/static/img/social_network/vkontakte/vk.png);
    border-radius: 30px;
    background-size: cover;
	background-repeat: no-repeat;
}

.vkontakte:hover {
    background-image: url(/static/img/social_network/vkontakte/vk_hover.png);
}

.youtube {
    width: 30px;
    height: 30px;
    background-position: center center;
    background-image: url(/static/img/social_network/youtube/youtube.png);
    border-radius: 30px;
    background-size: cover;
	background-repeat: no-repeat;
}

.youtube:hover {
    background-image: url(/static/img/social_network/youtube/youtube_hover.png);
}

.network {
    padding: 10px 0;
}

.cl-gr {
    background-color: #eeeeee;
}

.container-title {
    width: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    height: 18.75em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: left;
}

.bg-all {
    background-image: url(/static/img/courses/all.png);
}

.bg-all div {
    height: 100%;
    width: 60%;
    align-items: center;
}

.bg-eb {
    display: flex;
    align-items: center;
}

.bg-eb h1 {
    padding-top: 1.5em;
    padding-left: 0.3em;
    color: #000000;
    font-size: 4em;
    font-family: inglobal-bold;
}

.bg-all div:before {
  content: '';
  display: inline-block;
  height: 32%;
  vertical-align: middle;
}

.bg-all h1 {
    margin-left: -0.35em;
    color: #000000;
    text-transform: uppercase;
    font-size: 4.0625em;
    font-family: Montserrat-ExtraBold;
    display: inline-block
    vertical-align: middle;
}

.bg-all p {
    margin-left: -0.35em;
    text-transform: uppercase;
    border-radius: 1.25em;
    color: #f0c43b;
    background-color: #000000;
    display: inline-block;
    padding: 0.4375em 0.9375em;
    font-size: 0.625em;
    font-family: Montserrat-ExtraBold;
}

.title-name {
    display: inline-block;
    width: 100%;
    padding: 1.25em 1.25em;
    font-size: 1.5625em;
    font-family: Montserrat-Bold;
}

.content-c {
    background-color: #ffffff;
    width: 100%;
    padding: 1em 1em;
}

.container-course{
    padding: 0 1.25em;
    padding-bottom: 4em;
}

.title-dir {
    display: flex;
    align-items: center;
}

.title-dir img {
    width: 2.8125em;
    height: 2.8125em;
    vertical-align: middle;
    display: inline-block;
}

.title-dir-name {
    font-family: inglobal-bold;
    font-size: 3.125em;
    margin: 0;
    margin-left: 1.25em;
    padding: 0.425em 0;
}

.container-content-course {
    width: 100%;
}

.content-course {
    vertical-align: top;
    display: inline-block;
    padding: 0.3125em 0.625em;
    border: 0.0625em solid rgb(0, 0, 0, 0.2);
    width: 22.65em
}

.content-course-title {
    text-align: center;
    font-size: 0.825em;
    padding: 0.4em 0;
}

.content-course-title span{
    font-size: 1.875em;
    width: 100%;
    font-family: Montserrat-Bold;
}

.container-header {
    display: inline-flex;
}

.container-fix {
    width: 1200px;
    padding-right:var(--bs-gutter-x,.75rem);
    padding-left:var(--bs-gutter-x,.75rem);
    margin-right:auto;
    margin-left:auto;
}
.navbar{min-width:1200px;width: 100%;}
.nav{width: 100%;justify-content:right;display:flex;flex-wrap:wrap;padding-left:0;margin-bottom:0;list-style:none}

.content-course-d {
    text-align: justify;
    padding: 1.3em 0;
    height: 12em;
}

.content-course-d span {
    font-family: Montserrat-Regular;
    font-size: 0.95em;
}

.content-course-t {
    padding: 1em 1em;
}

.content-course-t-b {
    width: 100%;
}

.content-course-t-b-n {
    display: inline-block;
    width: 60%;
    font-family: font-family: Montserrat-Regular;
    font-weight: 600;
    margin: 0.4em 0;
}

.content-course-t-b-s {
    display: inline-block;
    width: 30%;
    text-align: center;
}

.link-st {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #212529;
    text-decoration: none;
}

.link-st:hover{
    background-color: #F5F5F5;
    color: #212529;
}

.link-margin{
    margin-top: 1.25em;
    margin-right: 1.25em;
}

.link-margin:nth-child(3n) {
    margin-right: 0em;
}

.border-radius-st{
    border-radius: 1.25em;
}

.box {
  background:#fff;
  width:30%;
  height:8.5em;
  display:flex;
  justify-content:center;
  align-items:center;
}

.box .percent{
  width:8em;
  height:100%;
  position:relative;
  padding-bottom: 1em;
}
.box .percent svg
{
  width:100%;
  height:100%;
  position:relative;

}
.box .percent svg circle
{
  width:100%;
  height:100%;
  fill:none;
  stroke-width:11;
  stroke:#000;
  transform:translate(0.5em, 0.5em);
  stroke-dasharray:335;
  stroke-dashoffset:335;
  stroke-linecap:round;
}
.box .percent svg circle:nth-child(1){
  stroke-dashoffset:0;
  stroke:#E8E8E8;
}
.box .percent svg circle:nth-child(2){
  stroke:#03a9f4;
}
.box .percent .num{
  top:0;
  left:0;
  width:100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  position:absolute;
  color:#111;
  font-family: Montserrat-Bold;
}
.box .percent .num h2 {
  font-size:2.2em;
}
.box .percent .num h2 span {
  font-size:0.6em;
}

.content-r {
    padding-top: 1em;
    width: 30%;
}

.content-l {
    width: 70%;
}

.d-flex {
    display: flex;
}

.l-card-block {
    width: 100%;
    background-color: #EDEDED;
}

.l-card-content {
    padding: 1em 0;
    text-align: center;
}

.l-lesson-container {
    display: block;
    text-align: center;
    width: 100%;
}

.l-lesson-content {
    display: inline-block;
    text-align: center;
    width: 18.1em;
    border-radius: 1em;
    background-color: #ffffff;
    border: 0.05em solid rgb(0, 0, 0, 0.2);
}

.l-lesson {
    width: 100%;
    padding: 0 0.5em;
    display: inline-flex;
    justify-content:center;
    align-items:center;
}

.link-lesson {
    border-radius: 1em;
    display: block;
    margin: 0;
    color: #212529;
    text-decoration: none;
}

.l-lesson-name {
    text-align: left;
    width: 100%;
    padding: 0 0.5em;
}

.symbol-lesson {
    border-radius: 2.1875em;
    height: 2.1875em;
    width: 2.1875em;
    display: flex;
    justify-content:center;
    align-items:center;
}

.l-lesson-progress {
    font-family: Montserrat-Regular;
    font-size: 0.9em;
}

.l-lesson-tasks-container {
    padding: 0.3em 0;
    margin: 0 0.5em;
    display: flex;
    justify-content:center;
    align-items:center;
}

.slt {
    border-radius: 1em;
    height: 1.2em;
    width: 1.2em;
}

.slt:nth-child(1n+2) {
    margin-left: 0.3em;
}

.slt-st {
    background-color: #969696;
}

.slt-st:hover {
    background-color: #B3B3B3;
}

.slt-c {
    background-color: #65CC61;
}

.slt-c:hover {
    background-color: #81D37E;
}

.l-lesson-n {
    padding: 0.4em 0;
    display: flex;
    justify-content:center;
    align-items:center;
}

.d-one {
    border-right: 1px solid rgb(0, 0, 0, 0.2);
    height: 2em;
    display: inline-block;
}

.d-two {
    border-right: 1px solid rgb(0, 0, 0, 0.2);
    border-left: 1px solid rgb(0, 0, 0, 0.2);
    height: 2em;
    width: 18em;
    display: inline-block;
}

.diagonal-container {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
}

.to-right {
    background: linear-gradient(135deg, transparent calc(50% - 1px), rgb(0, 0, 0, 0.2) 50%, transparent calc(50% + 1px) );
}

.to-left {
    background: linear-gradient(45deg, transparent calc(50% - 1px), rgb(0, 0, 0, 0.2) 50%, transparent calc(50% + 1px) );
}

.to-mr {
    margin-right: 5em;
}

.l-card-title {
    display: flex;
    background-color: #D9D9D9;
    padding: 1em 0;
}

.l-card-title span {
    font-family: Montserrat-Bold;
    font-size: 1em;
}

.l-card-title-num {
    width: 5%;
    padding-left: 1.5%;
}

.l-card-title-n {
    width: 88%;
}

.l-card-title-pr {
    text-align: center;
    width: 7%;
}

.cd-content {
    background-color: #ffffff;
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

.cd-nav {
    padding: 0 1em;
    display: flex;
}

.cd-nav ul {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 1em 0;
}

.cd-nav-li {
    list-style-type: none;
    padding: 0.3em 1em;
    border: 0.1em solid rgb(0, 0, 0, 0.2);
    font-family: Montserrat-Regular;
    border-radius: 2em;
    font-weight: 600;
    background-color: #e3e3e3;
}

.cd-nav-li:hover {
    background-color: #3B3B3B;
    color: #ffffff;
}

.cd-nav-li-active {
    background-color: #3B3B3B;
    color: #ffffff;
}

.cd-nav ul a:nth-child(1n+2){
    margin-left: 1em;
}

.link {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #212529;
    text-decoration: none;
}

.link:hover{
    color: #212529;
}

.cd-stats {
    width: 100%;
}

.cd-stats ul {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 1em 0;
}

.cd-stats ul li {
    display: flex;
    list-style-type: none;
    padding: 0.3em 0;
    justify-content:center;
    align-items:center;
}

.cd-stats ul li:nth-child(1){
    width: 25%;
}

.cd-stats ul li:nth-child(2){
    width: 45%;
}

.cd-stats ul li:nth-child(3){
    width: 30%;
}

.cd-stats ul li span {
    margin-left: 0.5em;
    font-family: inglobal-bold;
}

.fs-n {
    font-size: 1.5em;
}

.ml-n {
    font-size: 1.2em;
    margin-left: 1em;

}

.cd-content-l {
    width: 70%;
}

.content-r {
    width: 30%;
    padding-left: 1em;
}

.cr-payment {
    margin-bottom: 2em;
}

.cr-payment-b {
    background-color: #EDEDED;
    padding-top: 2em;
}

.cr-payment-b ul {
    width: 100%;
    margin: 0;
}

.cr-payment-b ul li {
    list-style-type: none;
    margin-bottom: 0.7em;
}

.cr-payment-b ul li span {
    padding-left: 0.5em;
    font-family: Montserrat-Regular;
}

.cr-payment-num {
    width: 100%;
    display: block;
    text-align: center;
}

.cr-payment-buy {
    widthL 100%;
    display: block;
    text-align: center;
}

.cr-payment-nav {
    display: flex;
    background-color: #D9D9D9;
}

.cr-payment-nav-cn {
    padding: 1em 1em;
    background-color: #EDEDED;
    width: 50%;
    text-align: center;
}

.cr-payment-nav span {
    font-family: Montserrat-Bold;
    font-size: 1em;
    padding-left: 0.3em;
}

.cr-payment-s {
    display: flex;
    margin-top: 2em;
    justify-content:center;
    align-items:center;
    margin: 0 1em;
    margin-top: 1.5em;
}

.cr-payment-sc {
    width: 50%;
    text-align: center;
}

.cr-payment-num {
    display: block;
    width: 100%;
    font-size: 1.7em;
    font-family: Montserrat-ExtraBold;
}

.cr-payment-buy {
    display: block;
    width: 100%;
    font-family: Montserrat-Bold;
    color: #ffffff;
    padding: 0.8em 0;
    background-color: #5FB962;
}

.cr-payment-buy:hover {
    cursor: pointer;
    background-color: #43AD47;
}

.cr-payment-buy-o {
    height: 1em;
    width: 4em;
    background: url(/static/img/master-visa.png) 0 0 no-repeat;
    background-size: 100% 100%;
    display: inline-block;
    margin: 1em 0 2em 0;
}

.cr-payment-c {
    text-align: center;
}

.rub { font-family: rouble; }

.cd-info-title {
    width: 100%;
    display: flex;
    align-items: center;
}

.cr-info, .cr-thr, {
    width: 100%;
    margin-bottom: 2em;
}

.cr-r-content {
    text-align: center;
}

.cd-info-title{
    margin-bottom: 0.5em;
}

.cd-thr-title{
    margin-bottom: 1em;
}

.cd-info-title i, .cd-thr-title i, .cr-r-title i {
    font-size: 1.5em;
}

.cd-info-title span, .cd-thr-title span, .cr-r-title span {
    font-family: inglobal-bold;
    padding: 0 1em;
    font-size: 1.5em;
}

.cd-info-content {
    font-family: Montserrat-Regular;
}

.cd-prof-c {
    margin-bottom: 1.2em;
    display: flex;
}
.cd-prof-c div{
    padding: 0 1em;
}

.cd-prof-avatar {
    border-radius: 4em;
}

.cd-prof-name {
    font-family: Montserrat-Bold;
    font-size: 1em;
    display: block;
}

.cd-prof-more {
    font-size: 0.8em;
    font-family: Montserrat-Regular;
    color: #525252;
    cursor: pointer;
    display: inline-block;
}

.cd-prof-more:hover {
    font-weight: 600;
}

.cr-container {
    width: 100%;
    background-color: #EDEDED;
    padding: 1em 1em;
}

.cr-card-block {
    width: 100%;
    background-color: #ffffff;
    border-radius: 1em;
    padding: 1em 1em;
    margin-bottom: 0em;
    display: flex;
}

.cr-card-block:nth-child(-n+9){
    margin-bottom: 1em;
}

.cr-prof-avatar {
    border-radius: 4em;
}

.cr-review-new {
    width: 100%;
    background-color: #EDEDED;
}

.cr-card-block-r {
    padding-left: 1em;
}

.cr-card-block-l {
    padding-right: 1em;
    border-right: 1px solid rgb(0, 0, 0, 0.1)
}

.cr-card-block-r span {
    display: block;
}

.cr-review-name {
    font-family: inglobal-bold;
    font-size: 1.2em;
}

.cr-review-date {
    font-family: Montserrat-Regular;
    margin-bottom: 1em;
    font-style: italic;
    font-size: 0.85em;
    font-weight: 600;
}

.cr-review-text {
    font-family: Montserrat-Regular;
    font-size: 0.95em;
}

.star-s {
    font-size: 2em;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.cr-r-title{
    margin-bottom: 1.5em;
}

.cr-r-title-stat{
    margin-bottom: 0.8em;
}

.cr-r-stars {
    align-items:center;
    justify-content: center;
    display:flex;
}

.cr-r-stars span {
    font-family: Montserrat-Bold;
    font-size: 1.3em;
    padding: 0 1em;
    padding-top: 0.4em;
}

.cr-r-rating {
    display: flex;
    padding: 0.5em 4.3em 1em 4.3em;
    justify-content: space-between;
    align-items: center;
}

.cr-rating-txt {
    font-family: Montserrat-ExtraBold;
    font-size: 1.3em;
}

.cr-grade-txt{
    font-family: Montserrat-Regular;
    color: #6B6B6B;
    font-size: 1em;
}

.add-container {
    padding: 1em;
}

.title-add-container {
    display: flex;
}

.title-add-block {
    margin-left: 1em;
}

.title-add-name {
    font-size: 1em;
    display: block;
    font-family: inglobal-bold;
}

.title-add-status {
    display: block;
    font-family: Montserrat-Regular;
    font-size: 0.8em;
    font-style: italic;
}

.text-add-container {
    margin-top: 0.5em;
    margin-left: 3.5em;
}

.text-add {
    width: 100%;
    min-height: 10em;
    font-family: Montserrat-Regular;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 0.5em;
}

.button-add-container {
    display: flex;
    justify-content: right;
    align-items: right;
    margin-top: 1em;
}

.button-add {
    width: 10em;
    height: 2em;
    border: none;
    border-radius: 2em;
    font-family: Montserrat-Regular;
    color: #ffffff;
    background-color: #435CC7;
}

.button-add:hover {
    background-color: #3250C8;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin-top: 2em;
    flex-wrap:wrap
}

.page-link-n {
    padding: 0.375rem 0.75rem;
}

.page-item-n:first-child .page-link-n {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item-n:not(:first-child) .page-link-n {
    margin-left: -1px;
}

.page-link-n:hover {
    z-index: 2;
    color: #212529;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.page-item-n.active .page-link-n {
    z-index: 3;
    color: #fff;
    font-weight: 600;
    background-color: #FF9E24;
    border-color: #FF9E24;
}

.page-link-n {
    position: relative;
    display: block;
    color: #212529;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.index-background {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    object-fit:cover;
    background: url(/static/img/map.png) repeat-y #F5F5F5;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: auto
}

.index-list {
    webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    list-style-type: none;
    backdrop-filter: blur(4px); /* Размываем фон */
    background: rgba(50,50,50,0.9); /* Белый фон с полупрозрачностью */
    width: 70%; /* Ширина блока */
    padding: 10px;
    border-radius: 20px;
    margin: auto;
    color: #F5F5F5;
    display: flex;
}

.index-list_1 {
    weight: 25%;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.index-list_2 {
    weight: 25%;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.index-list_a {
    color: #F5F5F5;
    font-family: Montserrat-Regular;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}
.index-list_a a {
    color: #F5F5F5;
    font-family: Montserrat-Regular;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none;
}

.navbar-brand {

}

.navbar-link {
    color: white;
    font-family: inglobal-bold;
    font-weight: bold;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.line_block {
    width: 100%;
}

.line_block ul {
    text-align: center;
    list-style: none;
}

.line_block li {
    display: block;
    background:rgb(241,241,241);
    width:350px;
    height:300px;
    margin: 0 15px 15px 0;
    text-align:center;
    padding: 10px;
    float: left;
    font-family: Montserrat-Regular;
    font-style: italic;
    border-radius: 20px;
    color: #808080;
}

.line_block li:hover {
    display: block;
    background:rgb(200,200,200);
}

.line_block li a {
    color: black;
    font-family: Montserrat-Regular;
    font-weight: bold;
    float: left;
    font-size: 16px;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}

.cl_h2 {
    text-align: center;
    font-family: montserrat-extrabold;
    padding: 10px 10px;
}

.cl_h1 {
    text-align: center;
    font-family: montserrat-bold;
    padding: 10px 10px;
}

.cl_h3 {
    font-family: montserrat-regular;
    text-align: center;
    padding: 10px 10px;
}

.product-item {
   width:350px;
   height:320px;
   background:rgb(241,241,241);
   margin:  15px 15px;
   padding: 30px;
   border-radius: 20px;
   border-bottom: 2px solid #F5F5F5;
   float: left;
   list-style: none;
}

.product-item:hover {
   border-bottom: 2px solid #fc5a5a;
}

.product-item li {
    color: #808080;
    text-align: center;
    font-family: Montserrat-Regular;
    font-style: italic;
    font-size: 14px;
    padding: 5px 5px;
    text-decoration: none;
}

.product-item li a {
    color: black;
    font-family: Montserrat-Regular;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}

.line_block_detail_1 {
    background:#f1f1f1;
    width:230px;
    height: 320px;
    margin: 50px 15px;
    padding: 20px 55px 10px;
    border-radius: 20px;
    border-bottom: 2px solid #F5F5F5;
    float: left;
    border: 2px solid #C0C0C0; /* Параметры рамки */
}

.line_block_detail_1 p {
    padding: 0px 0px;
    text-align: center;
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: #808080;
}

.line_block_detail_1 button {
    background-color: Black;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 15px 5px;
    text-align: center;
    font-size: 14px;
    margin: 10px 0px;
}

.line_block_detail_1 button:hover {
    background-color: #FF4500;
    color: white;
}

.line_block_detail_2 {
    background:#f1f1f1;
    width:55%;
    height:180px;
    margin: 30px 15px 5px;
    padding: 5px 60px;
    border-radius: 20px;
    border-bottom: 2px solid #F5F5F5;
}

.line_block_detail_2 ul {
    list-style: none;
    text-align: left;
    font-family: Montserrat-Regular;
    font-size: 16px;
    padding: 5px 5px;
    text-decoration: none;
}

.line_block_detail_3 {
    background:#f1f1f1;
    width:45%;
    height:180px;
    margin: 30px 15px 5px;
    padding: 5px 60px;
    border-radius: 20px;
    border-bottom: 2px solid #F5F5F5;
}

.line_block_detail_3 ul {
    list-style: none;
    text-align: left;
    font-family: Montserrat-Regular;
    font-size: 16px;
    padding: 5px 5px;
    text-decoration: none;
}

.line_block_detail_4 {
    background:#f1f1f1;
    width 100%;
    min-width: 850px;
    height:300px;
    padding: 50px 70px;
    margin: 10px 10px;
    border-radius: 20px;
    border-bottom: 2px solid #F5F5F5;
    overflow: auto;
}

.line_block_detail_4 ul {
    list-style: none;
    text-align: left;
    font-family: Montserrat-Regular;
    font-size: 16px;
    padding: 5px 5px;
    text-decoration: none;
}

.line_block_detail_project_1 {
    background:rgba(250,250,250,0.9);
    width:20%;
    height:220px;
    margin: 55px 15px 0px;
    padding: 20px 20px;
    border-radius: 20px;
    border-bottom: 2px solid #F5F5F5;
}

.line_block_detail_project_2 {
    background:rgba(250,250,250,0.9);
    width:75%;
    height:280px;
    margin: 30px 15px 0px;
    padding: 30px 55px;
    border-radius: 20px;
}

.line_block_detail_project_2 p {
    padding: 0px 0px;
    float: left;
    text-align: center;
    font-family: Montserrat-Regular;
    font-size: 12px;
    color: #808080;
}

.line_block_detail_project_2 ul {
    list-style: none;
    text-align: left;
    font-family: Montserrat-Regular;
    font-size: 16px;
    padding: 5px 5px;
    text-decoration: none;
}

.line_block_detail_project_2 button {
    background-color: linear-gradient(45deg, transparent calc(50% - 1px), rgb(0, 0, 0, 0.2) 50%, transparent calc(50% + 1px) );
    border: none;
    color: white;
    border-radius: 8px;
    padding: 10px 200px;
    text-align: center;
    font-size: 14px;
    margin: 20px 20px;
}

.line_block_detail_project_2 button:hover {
    border-bottom: 2px solid #fc5a5a;
}

.table_class table {
    empty-cells: hide;
    background: rgba(250,250,250,0.9);
    width: 95%;
    margin: 20px 40px;
    border-radius: 10px;
    display: block;
}

.table_class tr {
    padding-bottom: 10px;
}

.table_class td {
    font-size: 16px;
    font-family: Montserrat-Bold;
    width: 25%;
    font-weight: normal;
    color: black;
    padding: 10px 20px;
    text-align: left;
}

.table_class th {
    font-size: 14px;
    font-family: Montserrat-Regular;
    width:70%;
    font-weight: normal;
    color: black;
    padding: 10px 8px;
    text-align: left;
}

.profile-title {
    padding: 1em 2em;
}

.profile-title span {
    display: block;
}

.mont-reg {
    font-family: Montserrat-Regular;
}

.mont-bold {
    font-family: Montserrat-Bold;
}

.mont-extrabold {
    font-family: Montserrat-ExtraBold;
}

.profile-name {
    font-family: Montserrat-ExtraBold;
    font-size: 2em;
}

.profile-status, .profile-date-reg {
    font-family: Montserrat-Regular;
    font-size: 1em;
}

.profile-info {
    width: 100%;
    margin-top: 1.5em;
}

.profile-info-title span {
    font-family: inglobal-bold;
    font-size: 1.5em;
    padding: 0.5em 0;
}

.profile-info-txt {
    font-family: Montserrat-Regular;
    font-size: 1em;
    margin-top: 1em;
}

.profile-info-txt p {
    padding: 0;
    margin: 0;
}

.profile-info-txt span {
    display: block;
    font-family: Montserrat-Regular;
}

.profile-review {
    margin-bottom: 10px;
}


.modalDialog {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center; /* см. ниже */
    align-items: center;
    z-index: 99;
    /* Чтобы окно не прилипало к границе
    браузера установим отступы */
    padding:30px 0;
    background-color: rgba(0,0,0,0.4);
}

.modalDialog:target {
    display: block;
    pointer-events: auto;
}

.modalDialog > div {
    position: relative;
    margin: 10% auto;
}

.cr-r-info {
    margin-bottom: 1.5em;
}

.stat-num {
    font-family: Montserrat-ExtraBold;
    font-size: 2em;
    display: block;
    text-align: center;
    padding: 0;
}

.stat-name {
    font-family: Montserrat-Regular;
    font-size: 1em;
    display: block;
    text-align: center;
    padding: 0;
}

.form-edit-user {
    font-family:Montserrat-Regular;
    font-size:0.9em;
    color:#333;
    display:block;
    width:23em;
    background:#fff;
    border-radius:1.5em;
    padding:0.6em 2em 0.6em 2em;
    border:1px solid rgb(0,0,0,0.2)
}

.form-edit-label {
    font-family:Montserrat-Bold;
    font-size:0.9em;
    display: flex;
    justify-content:left;
    align-items:center;
    width: 12em;
    padding: 0 1em 0 0;
}

.btn-save {
    margin-top: 3em;
    border: rgb(0,0,0,0.2);
    border-radius: 1.5em;
    padding: 0.5em 2em;
    color: #fff;
    background-color:#3E70EA;
    font-family: Montserrat-Bold;
    font-size: 1em;
}

.btn-save:hover {
   background-color:#4A78E8;
}

.di_flex {
    display: flex;
}

.modal{
    top:0;
    left:0;
    width:100px;
    height:100px;
}

.modal .overlay {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: #000;
    opacity: 0.7;
    z-index: 0;
}

.modal-window {
    position:relative;
    z-index:2;
    width: 550px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.4);
    background-color:#fff;
}
