<div class="input-ava-container">
    <div class="input-ava-background input-ava-background-cr">
        <img id="ava-img" width="180" height="180" class="input-ava-img input-ava-img-cr" src="{% if widget.value.url %}{{widget.value.url}}{% else %}/media/events/avatars/4.png{% endif %}" onclick='ava.click()'>
        <input id="ava" style="visibility:hidden;width:0px;" onchange="readURL(this)" type="{{ widget.type }}" name="{{ widget.name }}"{% include 'django/forms/widgets/attrs.html' %}/>
        <span class="input-ava-change" onclick='ava.click()'>Выбрать</span>
    </div>
</div>
<br/>


