{% if user.is_authenticated %}
  <div class="container-nav">
    <ul class="tabs-nav">
      <li>
        <a
          class="link-nav {% if '/events/' == request.path %}link-nav-active{% endif %}"
          href="{% url 'events:event_list' %}"
        >
          Все
        </a>
      </li>
      <li>
        <a
          class="link-nav {% if '/events/active/' == request.path %}link-nav-active{% endif %}"
          href="{% url 'events:EventsListActive' %}"
        >
          Активные
        </a>
      </li>
      <li>
        <a
          class="link-nav {% if '/events/process/' == request.path %}link-nav-active{% endif %}"
          href="{% url 'events:EventsListProcess' %}"
        >
          Волонтеры набраны
        </a>
      </li>
      <li>
        <a
           class="link-nav {% if '/events/closed/' == request.path %}link-nav-active{% endif %}"
           href="{% url 'events:EventsListClose' %}"
        >
          Закрытые
        </a>
      </li>
    </ul>
  </div>
{% endif %}