{% extends "base.html" %}
{% load static %}
{% block title %}Живи{% endblock %}
{% block content %}
    <div class="limiter">
      <div class="container-fix">
          {% include 'includes/switcher.html' %}
          <div class="index-background">
                <div class="index-list_a">
                    {% for event in events %}
                        {% if request.user.is_authenticated %}
                        <a href="{% url 'events:event_detail' pk=event.pk %}">
                            <div class="index-list">
                                <div class="index-list_1">
                                     <span>{{ event.name }}</span>
                                </div>
                                <div lass="index-list_2">
                                    <span> Место проведения: {{ event.status }}</span>
                                    <br><span> {{ event.date_start|date:"d E Y" }} -  {{ event.date_end|date:"d E Y" }}</span>
                                </div>
                            </div>
                        </a>
                        {% else %}
                            <div class="index-list">
                                <div class="index-list_1">
                                     <span>{{ event.name }}</span>
                                </div>
                                <div lass="index-list_2">
                                    <span> Место проведения: {{ event.status }}</span>
                                    <br><span> {{ event.date_start|date:"d E Y" }} -  {{ event.date_end|date:"d E Y" }}</span>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
          </div>
     </div>
    </div>
{% endblock %}
