{% extends 'base.html' %}
{% load user_filters %}
{% load static %}
{% block title %}Редактировать профиль{% endblock %}
{% block content %}
    <div class="limiter cl-gr">
        <div class="container-fix">
            <div class="content-c">
                <form method="post" enctype="multipart/form-data" {% if action_url %} action="{% url action_url %}" {% endif %}>
                    {% csrf_token %}
                    {% for field in form %}
                        {% if field.label == 'Аватар'%}
                            {{field}}
                        {% else %}
                            <div class="mt-4 d-flex">
                                <span class="form-edit-label">{{field.label}}:</span> {{field|add_class:'form-edit-user'}}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <button class="btn-save" type="submit">
                        Сохранить
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
