{% extends 'base.html' %}
{% load user_filters %}
{% load static %}
{% block title %}Отзывы волонтера{% endblock %}
{% block content %}
    <div class="limiter cl-gr">
        <div class="container-fix">
            <div class="content-c">
                {% for review in object_list %}
                    <a href="{% url 'projects:project_detail' pk=review.organization.pk %}">{{review.organization.name}}</a><br>
                    <a href="{% url 'events:event_detail' pk=review.event.pk %}">{{review.event.name}}</a><br>
                    {{review.rating}}<br>
                    {{review.review}}<br><br>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
