{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}Форма{% endblock %}
{% block content %}
    <div class="limiter cl-gr">
        <div class="container-fix">
            <div class="content-c">
                <div class="form-edit-label">
                    <form method="post" enctype="multipart/form-data" {% if action_url %} action="{% url action_url %}" {% endif %}>
                        {% csrf_token %}
                        {% for field in form %}
                            <label>
                                {{ field.label }}
                                {{ field|add_class:'form-edit-user'}}
                            </label>
                          {% if field.help_text %}
                            <small id="{{ field.id_for_label }}-help">
                              {{ field.help_text|safe }}
                            </small>
                          {% endif %}
                        {% endfor %}
                        <button class="btn-save" type="submit">
                            Сохранить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}