{% extends "base.html" %}
{% load static %}
{% load user_filters %}
{% block title %}Форма{% endblock %}
{% block content %}
    <div class="limiter cl-gr">
        <div class="container-fix">
            <div class="content-c">
                <div class="form-edit-label">
                    <form method="post" enctype="multipart/form-data" {% if action_url %} action="{% url action_url %}" {% endif %}>
                        {% csrf_token %}
                        {% for field in form %}
                            {% if field.label == 'Аватар мероприятия'%}
                                {{field}}
                            {% else %}
                                <div class="mt-4 d-flex">
                                    <span class="form-edit-label">{{ field.label }}</span>
                                    <div>
                                        {% if field.label == 'Описание события' %}
                                            <div class="form-edit-info-container">
                                                <div class="form-edit-info-nav">
                                                    <span id="form-edit-info-b" class="blr-24"><i class="fa-solid fa-bold"></i></span>
                                                    <span id="form-edit-info-p"><i class="fa-solid fa-paragraph"></i></span>
                                                </div>
                                                {{field}}
                                            </div>
                                        {% else %}
                                            {{field|add_class:'form-edit-user'}}
                                        {% endif %}
                                        {% if field.errors %}
                                            {% for error in field.errors %}
                                                <span class="form-edit-error">* {{ error|escape }}</span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <button class="btn-save" type="submit">
                            Сохранить
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/event_create.js' %}"></script>
{% endblock %}