{% extends "base.html" %}
{% load user_filters %}
{% load static %}
{% block title %}Живи{% endblock %}
{% block content %}
<div class="limiter cl-gr">
      <div class="container-fix">
            <div class="content-c d-flex">
                <div class="content-l">
                      <div class="content d-flex">
                           <img width="180" height="180" src="{{ event.avatar_url.url }}">
                           <div class="event-title">
                                 <span class="event-name">{{ event.name }}</span>
                                 {% if request.user == event.contact_user %}
                                    <a class="link-create mt-2" href="{% url 'events:event_edit' pk=event.pk %}">Редактировать</a>
                                 {% endif %}
                           </div>
                    </div>
                    <div class="event-info">
                        <div class="event-info-title">
                            <span>Основная информация</span>
                        </div>
                        <div class="event-info-txt">
                              <ul>
                                    <li>
                                         <a href="{% url 'projects:project_detail' pk=event.project.pk %}">{{ event.project }}</a>
                                    </li>
                                    <li>
                                         {{ event.status }}
                                    </li>
                                    <li>
                                          {{ event.date_start }} - {{ event.date_end }}
                                    </li>
                              </ul>
                        </div>
                    </div>
                    <div class="event-info">
                        <div class="event-info-title">
                            <span>Описание</span>
                        </div>
                        <div class="event-info-txt">
                              <span>{{ event.description|safe }}</span>
                        </div>
                    </div>
                </div>
                <div class="content-r">
                    <div class="cr-r-info">
                        {% if favorites %}
                            <a class="link-favorite" href="{% url 'events:profile_unfavorite' pk=event.pk %}">
                                <i class="fa-solid fa-star"></i><span>Из избранного</span>
                            </a>
                        {% else %}
                            <a class="link-favorite" href="{% url 'events:profile_favorite' pk=event.pk %}">
                                <i class="fa-regular fa-star"></i><span>В избранное</span>
                            </a>
                        {% endif %}
                    </div>
                    <div class="cr-r-title">
                        <i class="fa-solid fa-ranking-star"></i>
                        <span>Контактное лицо</span>
                    </div>
                    <div class="cr-r-info">
                        <a class="map-user-link" href="{% url 'users:volunteer_detail' pk=event.contact_user.pk%}">
                              <div class="content-user-menu mb-1">
                                    <img width="40" height="40" class="content-user-avatar" src="{{event.contact_user.avatar.url}}">
                                    <span class="content-user-name">{{event.contact_user.get_full_name}}</span>
                              </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="content-f">
                <div class="event-info-title">
                    <span>Функции</span>
                    {% if request.user == event.contact_user %}
                        <a class="link-create ms-4" href="{% url 'events:function_create' pk=event.pk %}">
                              Добавить
                        </a>
                    {% endif%}
                </div>
                {% for function in functions %}
                    <div class="funct-content d-flex">
                        <div class="func-l text-center">
                            <span class="func-l-name mb-4 inglobal-bold">{{ function.name }}</span>
                            <span class="func-l-cnt mb-4 inglobal-bold">{{ function.following.count }} из {{ function.count }}</span>
                            <div class="mb-4">
                                {% for user_following in function.following.all %}
                                    <a href="{% url 'users:volunteer_detail' pk=user_following.user.pk%}">
                                        <img width="40" height="40" class="content-user-avatar me-2" src="{{user_following.user.avatar.url}}"></a>
                                {% endfor %}
                            </div>
                            <div>
                                {% if request.user == event.contact_user %}
                                    <a class="link-create" href="{% url 'events:function_edit' pk=function.pk %}">
                                         Редактировать
                                    </a>
                                {% else %}
                                    {% if function.pk in following_func %}
                                        <a class="link-create" href="{% url 'events:profile_unfollow_func' pk_event=event.pk pk_funk=function.pk %}">
                                            Выйти
                                        </a>
                                    {% else %}
                                        {% if following %}
                                            Вы присоединились к другой функции
                                        {% else%}
                                            {% if count_u_func|get_item:function.pk < function.count %}
                                                <a class="link-create" href="{% url 'events:profile_follow_func' pk_event=event.pk pk_funk=function.pk %}">
                                                   Присоединиться
                                                </a>
                                            {% else %}
                                                Волонтеры наброны
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                {% endif%}
                            </div>
                        </div>
                        <div class="func-r">
                            <div>
                                <h4 class="func-r-name">Описание:</h4>
                                <p>{{ function.description|safe }}</p>
                                <h4 class="func-r-name">Задачи:</h4>
                                <p>{{ function.task|safe }}</p>
                                <h4 class="func-r-name">Условия:</h4>
                                <p>{{ function.task|safe }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
      </div>
</div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/event.js' %}"></script>
{% endblock %}
