{% extends "base.html" %}
{% load static %}
{% block title %}Мероприятия{% endblock %}
{% block content %}
<div class="limiter">
      <div class="container-fix">
          {% include 'includes/switcher_status_events.html' %}
          <div class="container-fix d-flex">
              <div class="content-l">
                    <div class="line_block">
                        {% for event in events %}
                            <a href="{% url 'events:event_detail' pk=event.pk %}">
                                <div class="line_block_items">
                                    <img src="{{ event.avatar_url.url }}"> <br>
                                    <p class="title_line_block">{{ event.name }}</p>
                                    <p class="hideText">{{ event.status }}
                                    <br>{{ event.date_start|date:"d E Y" }} -  {{ event.date_end|date:"d E Y" }}</p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
              </div>
              <div class="content-r">
                <form method="get">
                    <div>
                      {{ filter.form }}
                    </div>
                  <button class="btn-save" type="submit"> Поиск </button>
                </form>
              </div>
          </div>
      </div>
</div>
{% endblock %}

