{% extends "base.html" %}
{% load static %}
{% block title %}Мероприятия{% endblock %}
{% block content %}
<div class="limiter">
      <div class="container-fix">
            {% include 'includes/switcher.html' %}
            <div class="content-map">
                <div id="map" style="width: 100%; height: 700px" :onchange="loadMap({{events_json}})"></div>
            </div>
      </div>
</div>
{% endblock %}
{% block js %}
    <script src="{% static 'js/yandex_map.js' %}"></script>
{% endblock %}

