{% extends "base.html" %}
{% load static %}
{% block title %}Мероприятия{% endblock %}
{% block content %}
<div class="limiter">
      <div class="container-fix">
            <h2 class="cl_h2">Наши мероприятия</h2>
            <h2 class="cl_h1">Наши мероприятия</h2>
            <h2 class="cl_h3">Наши мероприятия</h2>
            <div style="width:100%; height:1px; clear:both;"></div>
                <div class="line_block">
                    <ul>
                        {% for event in events %}
                            <li>
                                <img src="{{ event.avatar_url }}" width="120" height="120"> <br>
                                <a href="{% url 'events:event_detail' pk=event.pk %}"> {{ event.name }}</a>
                                <br> {{ event.status }} <br> {{ event.date_start|date:"d E Y" }} -  {{ event.date_end|date:"d E Y" }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            <div style="width:100%; height:1px; clear:both;"></div>
      </div>
</div>
{% endblock %}

