{% extends "base.html" %}
{% load static %}
{% block title %}Живи{% endblock %}
{% block content %}
<div class="limiter">
      <div class="container-fix">
            <h2 class="cl_h2">{{ event.name }}</h2>
            <div style="width:100%; height:1px; clear:both;"></div>
            <div style="display: flex">
                  <div class="line_block_detail_1">
                        <img src="{{ event.avatar_url }}" width="120" height="120">
                        <p><span >{{ user_count }}</span> волонтеров подали заявку на текущее мероприятие</p>
                        {% if request.user != event.contact_user %}
                              {% if following %}
                                    <a href="{% url 'events:profile_unfollow' pk=event.pk %}">
                                          <button>Отсоединиться</button>
                                    </a>
                              {% else %}
                                    <a href="{% url 'events:profile_follow' pk=event.pk %}">
                                          <button>Присоединиться</button>
                                    </a>
                              {% endif %}
                        {% else %}
                              <a href="{% url 'events:event_edit' pk=event.pk %}">
                                    <button>Отредактировать</button>
                              </a>
                        {% endif %}
                  </div>
                  <div>
                        <div style="display: flex">
                              <div class="line_block_detail_2">
                                    <ul>
                                          <h3 style="font-family: Montserrat-Regular;font-size: 18px; font-weight: bold;">Основная информация:</h3>
                                          <li>
                                               <a href="{% url 'projects:project_detail' pk=event.project.pk %}"><img src="/static/img/organ.png" width="30" height="35"> {{ event.project }}</a>
                                          </li>
                                          <li>
                                               <p><img src="/static/img/geo.png" width="30" height="30"> {{ event.status }}</p>
                                          </li>

                                          </li>
                                          <li>
                                                <p><img src="/static/img/date.png" width="25" height="25"> {{ event.date_start }} - {{ event.date_end }}</p>
                                          </li>
                                    </ul>
                              </div>
                              <div class="line_block_detail_3">
                                    <ul>
                                          <li>
                                               <p><img src="/static/img/mail.png" width="30" height="30">{{ event.contact_user.email }}</p>
                                          </li>
                                          {% if favorites %}
                                                <a href="{% url 'events:profile_unfavorite' pk=event.pk %}">
                                                      <button>Убрать из избранного</button>
                                                </a>
                                          {% else %}

                                                <a href="{% url 'events:profile_favorite' pk=event.pk %}">
                                                      <button>Избранный</button>
                                                </a>
                                          {% endif %}
                                    </ul>
                              </div>
                        </div>
                        <div class="line_block_detail_4">
                              <h3 style="font-family: Montserrat-Regular;font-size: 18px;font-weight: bold;">Описание</h3>
                              <p>{{ event.description }}</p>
                        </div>
                        <div>
                              <h2 class="cl_h2">Функции</h2>
                              <ul>
                                    {% for function in functions %}
                                    <li>
                                          <p>{{ function.name }}</p>
                                          <p>{{ function.description }}</p>
                                          <p>{{ function.task }}</p>
                                          <p>{{ function.condition }}</p>
                                          <p>{{ function.event }}</p>
                                          <span>Нужное кол-во волонтеров: {{ function.count }}</span>
                                          <br><span>Кол-во откликнулось: {{ function.following.count }}</span>
                                    </li>
                                    {% endfor %}
                              </ul>
                        </div>
                        <div>
                              {% if request.user == event.contact_user %}
                                    <h2>Откликнувшиеся волонтеры:</h2>
                              {% for user_following in users_following %}
                              <ul>
                                    <li>
                                          <span>{{ user_following.user.first_name }} {{ user_following.user.last_name }}
                                                - {{ user_following.function }}</span>
                                          <br><span>Номер телефона: {{ user_following.user.phone }}</span>
                                    </li>
                              </ul>
                              {% endfor %}
                        </div>

                        {% endif%}
                  </div>
            </div>
            <div style="width:100%; height:1px; clear:both;"></div>
      </div>
</div>
{% endblock %}