{% extends "base.html" %}
{% load static %}
{% block title %}Мероприятия{% endblock %}
{% block content %}
<div class="limiter">
      <div class="container-fix">
          {% include 'includes/switcher.html' %}
              <div class="container-fix d-flex">
                    <div class="line_block">
                        <ul>
                            {% if condition %}
                                {% for follow in follows %}
                                    <a href="{% url 'events:event_detail' pk=follow.event.pk %}">
                                        <li>
                                            <img src="{{ follow.event.avatar_url }}" width="120" height="120"> <br>
                                            <span>{{ follow.event.name }}</span>
                                            <br><span>{{ follow.function.name }}</span>
                                            <br><span>{{ follow.event.date_start|date:"d E Y" }} -  {{ follow.event.date_end|date:"d E Y" }}</span>
                                        </li>
                                    </a>
                                {% endfor %}
                            {% else %}
                                {% for own in owns %}
                                    <a href="{% url 'events:event_detail' pk=own.pk %}">
                                        <li>
                                            <img src="{{ own.avatar_url }}" width="120" height="120"> <br>
                                            <span>{{ own.name }}</span>
                                            <br><span>{{ own.function.name }}</span>
                                            <br><span>{{ own.date_start|date:"d E Y" }} -  {{ own.date_end|date:"d E Y" }}</span>
                                        </li>
                                    </a>
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
              </div>
      </div>
</div>
{% endblock %}

